<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @order.full_name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @order.job %>
</p>

<p>
  <strong>Articlename:</strong>
  <%= @order.article_name %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @order.annotation %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @order.key_words %>
</p>

<p>
  <strong>File</strong>
  <%= link_to 'Download', download_order_path %>
  <%= @order.file_contents %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>